@inherits UmbracoTemplatePage

<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="@CurrentPage.Url">@CurrentPage.Name</a>
            </li>
        </ul>
    </nav>
</header>
