@inherits UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
	<title>@Umbraco.Field("pageTitle", altFieldAlias: "title", altText: "DEMO")</title>
</head>
<body>
	@RenderBody()
</body>
</html>